<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zriot.ebike.mapper.SalerCaptchaMapper">

    <sql id="selectColumns">
        SELECT
            a.`id`,
            a.`mobile`,
            a.`captcha`,
            a.`expiry_date`,
            a.`create_date`
        FROM saler_captcha a
    </sql>

	<select id="getByMobile" resultType="com.zriot.ebike.entity.SalerCaptcha">
        <include refid="selectColumns"/>
        WHERE a.`mobile` = #{mobile}
    </select>
    
    <insert id="insert">
        INSERT INTO saler_captcha (
            `mobile`,
            `captcha`,
            `expiry_date`,
            `create_date`
        ) VALUES (
            #{mobile},
            #{captcha},
            #{expiryDate},
            #{createDate}
        )
    </insert>
    
    <update id="update">
        UPDATE saler_captcha
        <set>
            mobile = #{mobile},
            captcha = #{captcha},
            expiry_date = #{expiryDate},
            create_date = #{createDate}
        </set>
        WHERE id = #{id}
    </update>
    
	
	<!-- 下面开始没有使用
	
    <select id="get" resultType="com.zriot.ebike.entity.TripUser">
        <include refid="selectColumns"/>
        WHERE a.`id` = #{id}
    </select>

    <select id="findList" resultType="com.zriot.ebike.entity.TripUser">
        <include refid="selectColumns"/>
        ORDER BY `create_date` DESC
    </select>


    <insert id="insert">
        INSERT INTO trip_user (
            `id`,
            `mobile`,
            `password`,
            `nickname`,
            `gender`,
            `age`,
            `photo`,
            `enabled`,
            `remarks`,
            `create_date`,
            `update_date`
        ) VALUES (
            #{id},
            #{mobile},
            #{password},
            #{nickname},
            #{gender},
            #{age},
            #{photo},
            #{enabled},
            #{remarks},
            #{createDate},
            #{updateDate}
        )
    </insert>

    <update id="updateInfo">
        UPDATE trip_user
        <set>
            `nickname` = #{nickname},
            `gender` = #{gender},
            `age` = #{age},
            `update_date` = #{updateDate}
        </set>
        WHERE `id` = #{id}
    </update>

    <update id="updatePasswordByMobile">
        UPDATE trip_user
        SET
            `password` = #{password}
        WHERE `mobile` = #{mobile}
    </update>

    <update id="updatePhotoByUser">
        UPDATE trip_user
        SET
            `photo` = #{photo}
        WHERE `id` = #{userId}
    </update>
    
     -->
</mapper>
